@model PriceFromHitBTCWeb.Models.Coin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container text-center mt-4">

    <form method="post">

        <div class="form-group">
            <input type="text" class="form-control" id="Symbol" name="Symbol" />
        </div>
        <button type="submit" class="btn btn-primary">Click and get the price</button>

    </form>


    <h3 class="mt-3">Current BTC price is:</h3>
    <h1 class="display-3 mt-2">@ViewBag.Price</h1>

</div>

